@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
    background-color: lightblue;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;


}
.links {
    text-align: left;


}
.rechts {
    text-align: left;

}
.algemeen {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;

    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;

}
.algemeen .links{
    width: 280px;
    background-color: cornflowerblue;
    color: white;

}
.algemeen .links .foto img{
    width: 100%;
    height: 100%;

}

.algemeen .rechts{
    width: 520px;
    background-color: white;
}
.introductie {
    margin-left: 10px;
}
.gegevens{
    margin: 10px;
    font-size: 15px;
}
hr{
    width: 245px;
    margin: 20px;
}

.descriptie{
    margin-left: 25px;
}

.upper{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    margin-left: 25px;
    margin-top: 10px;
}
.algemeen .links ul li{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.foto:hover{
    box-shadow: 5px 5px 5px grey;
    margin-right: 10px;

}
.container{
    width: 90%;
    background-color: grey;
    margin-left: 10px;
    height: 2%;
    border-radius: 20px;


}
.vaardigheden{
    text-align: right;
    padding-bottom: 25px;
    padding-right: 5px;
    color: grey;
    height: 2%;
    border-radius: 20px;



}
.html{width: 80%; background-color: white}
.css{width: 70%; background-color: white}
.csharp{width: 65%; background-color: white}
.sql{width: 60%; background-color: white}

p{
    margin-left: 15px;
}
a{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 480px){
    .algemeen{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: auto;

    }
    .algemeen .links{
        width: 100%;
    }
    .algemeen .rechts{
        width: 100%;
    }
    .vaardigheden{
        padding-bottom: 5px;
        padding-top: 5px;
    }

}

